.hidden-input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.input-label {
    margin-bottom: 0px;
}

input.hidden-input:focus + label {
    outline: thin dotted;
}

input.hidden-input:focus-within + label {
    outline: thin dotted;
}

.input-source {
    border: 1px dashed black;
    padding: 5px 14px;
    margin-left: 20px;
}

.dashboard-container {
    display: flex;
    align-items: center;
}